dataingest-flink/src/main/resources/DataSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="catalog" type="catalogType" />
  <xsd:complexType name="catalogType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="book" type="bookType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="bookType">
    <xsd:sequence>
      <xsd:element name="author" type="xsd:string" />
      <xsd:element name="title" type="xsd:string" />
      <xsd:element name="genre" type="xsd:string" />
      <xsd:element name="price" type="xsd:decimal" />
      <xsd:element name="publish_date" type="xsd:dateTime" />
      <xsd:element name="description" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" />
  </xsd:complexType>
</xsd:schema>